@charset "UTF-8";
/* CSS Document */
html{
    height: 100%;
    background: #ffd9ce ;
}
body{
    background: #fff;
    background-size: auto 100%;
    text-align: center;
    font-size: 14px;
}
div{
    display: block;
}
.content img, .share img{
    width:100%;
}
.diamond img{
    display: inline-block;
    width:25%; 
}
.outter_container{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: absolute;
}
.header{
    width: 100%;
    z-index: 0;
    position:absolute;
}
.header img {
    width: 100%;
}
.content{
    width: 100%;
    top: 74vw;
    position:absolute;
    z-index: 2;   
}
.content_background{
    width: 100%;
    height:100%;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.share{
    width: 100%;
    height:100%;
    background: #ffd9ce url(../images/bg.jpg) repeat-x;
    background-size: auto 100%;
    position:absolute;
    z-index: 2;   
}


.content_background img{
    width: 100%;
}
@media (max-width: 639px){
    .outter_container{
        width: 100%;
    } 
    .content{
        width: 100%;
        top: 78vw;
    }
    .share{
        width: 100%;
    }
    .content_background{
        width: 100%;
        top: 2vw;
    }
}



label, input{
    margin:0;
}

.formgroup{
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: auto;
    white-space: nowrap;
    margin: 0;
}
.formgroup::-webkit-scrollbar {
        display: none;
}

.con_month{
  display: inline-flex;
  align-items: center;
  width: 18vw; 
  height: 18vw;
  margin: 1vw;
}

.con_month label{
    width: 100%;
    height: 100%;
    background-position: top left;
    text-indent: -9999px;
}
input[type="radio"] {
    display: none;
}
.con_month label{
    background-size: 100% 200.1%;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.con_month input[type="radio"]:checked + label{
     background-position: 0px 100%;
}
.jan label{
    background-image: url(../images/btn_months_01.png) ; 
    
}

.feb label{
    background-image: url(../images/btn_months_02.png);
}
.mar label{
    background-image: url(../images/btn_months_03.png) ;
}
.apr label{
    background-image: url(../images/btn_months_04.png) ; 
}
.may label{
    background-image: url(../images/btn_months_05.png) ;
}
.jun label{
    background-image: url(../images/btn_months_06.png) ; 
}
.jul label{
    background-image: url(../images/btn_months_07.png);
}
.aug label{
    background-image: url(../images/btn_months_08.png) ;
}
.sep label{
    background-image: url(../images/btn_months_09.png) ;
}
.oct label{
    background-image: url(../images/btn_months_10.png) ; 
}
.nov label{
    background-image: url(../images/btn_months_11.png) ; 
}
.dec label{
    background-image: url(../images/btn_months_12.png) ;
}

button{
    cursor:pointer;
    border:none;
    background: none;
     -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
}

.fade-in-out {
  transition: 1s linear all;  
  opacity: 1;
}

.fade-in-out.ng-hide {
  opacity: 0;
}

@media screen and (max-height:133vw){
	.outter_container{width:75vh;top: 0;left: 0;right: 0;margin: auto;position: absolute;}
     .content{
        top: 56%;    
    }
    .con_month{
      display: inline-flex;
      align-items: center;
      width: 100px; 
      height: 100px;
      margin: 10px;
    }
}

@media screen and (min-height:178vw){
    .outter_container{height: 178vw;top: 0;left: 0;right: 0;margin: auto;position: absolute;}
    .content{
        top: 42%;    
    }
    .con_month{
      display: inline-flex;
      align-items: center;
      width: 16vw; 
      height: 16vw;
      margin: 10px;
    }
}
}



@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}


.ringanimate{
    height: 100%;
    width: 100%;
    background-image: url(../images/ring/0407.png);
    
}
#dragformgroup, #dragformgroup2{
    overflow: auto;
}
#dragformgroup2::-webkit-scrollbar { 
    display: none; 
}
#dragformgroup::-webkit-scrollbar { 
    display: none; 
}